@model IEnumerable<SubscriptionSummary>

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Subscriptions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionId)
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionId)
            </td>


        </tr>
}
    </tbody>
</table>
