@model Subscriptions

@{
    ViewData["Title"] = "Subscriptions";
}

<h1>Subscriptions</h1>

<div>
    <h4>Subscriptions</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
